


<app-userheader></app-userheader>
<app-usermenu></app-usermenu>


<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
  
  
  
  
<div class="container">
    <br><br><h1 class="btn btn-info">UPWORK TUNISIE PFE UIT 2024</h1><br><br>
      
    <table class="table table-striped table-bordered">
        <thead>
              <tr>
                <th>ID</th>
                <th>nom</th>
                <th>description</th>
                <th>Action</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let afftache of afftaches">
                <td>{{ afftache._id }}</td>
                <td>{{ afftache.nom }}</td>
                <td>{{ afftache.description }}</td>
                <td>
                  <a href="#" [routerLink]="['/userafftache/', afftache._id, 'view']" class="btn btn-info">Détails</a>&nbsp;&nbsp;
                </td>
              </tr>
        </tbody>
    </table>





              <div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">&raquo;</a>
</div>







</div>



  
  
  
  
  
  
  
  
              
  
  
            </div>
          </div>
        </div>
  
  
      </div>
    </section>
  </div>

  



  


















<app-userfooter></app-userfooter>