
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="admin/index"> <img alt="image" src="assets/img/logo.png" class="header-logo" /> <span
                class="logo-name">Otika</span>
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown">
              <a href="admin/index" class="nav-link"><i class="glyphicon glyphicon-th"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
              <a href="admin/index" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Admins</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="admin/index">Liste admins</a></li>
                <li><a class="nav-link" href="admin/create">create admin</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="affgroupe/index" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Affectation groupes</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="affgroupe/index">Affectation groupes</a></li>
                <li><a class="nav-link" href="affgroupe/create">create Affectation groupes</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="affprojet/index" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Affectation projets</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="affprojet/index">Affectation projets</a></li>
              </ul>
            </li>


<li class="dropdown">
              <a href="groupe/index" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Groupes</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="groupe/index">Groupes</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="projet/index" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>projet</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="projet/index">projet</a></li>
              </ul>
            </li>






            <li class="dropdown">
              <a href="afftache/index" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Affectation taches</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="afftache/index">Affectation taches</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="avtache/index" class="menu-toggle nav-link has-dropdown"><i data-feather="layout"></i><span>Avancement Taches</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="avtache/index">Avancement taches</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="avprojet/index" class="menu-toggle nav-link has-dropdown"><i
                class="glyphicon glyphicon-th"></i><span>Avancement projet</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="avprojet/index">Avancement projet</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="competence/index" class="menu-toggle nav-link has-dropdown"><i data-feather="layout"></i><span>Competences</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="competence/index">Competences</a></li>
              </ul>
            </li>
            <li class="dropdown active">
              <a href="tache/index" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Taches</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="tache/index">Taches</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="user/index" class="menu-toggle nav-link has-dropdown"><i
                class="glyphicon glyphicon-th"></i><span>Dévéloppeurs</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="user/index">Dévéloppeurs</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="universite/index" class="glyphicon glyphicon-th"><i data-feather="feather"></i><span>Universite</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="universite/index">Universite</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="profil/index" class="glyphicon glyphicon-th"><i data-feather="image"></i><span>Profil</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="profil/index">Profil</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="company/index" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Company</span></a>
              <ul class="dropdown-menu">
                <li><a href="company/index">Company</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Logout</span></a>
              <ul class="dropdown-menu">
                <li><a href="login">Logout</a></li>
              </ul>
            </li>




          </ul>
        </aside>
      </div>
      <!-- Main Content -->


    </div>
  </div>
