


<app-userheader></app-userheader>
<app-usermenu></app-usermenu>



<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
  
  
  
  
  



<div class="container">
    <h1>Détails Competence</h1>
  
    <a href="#" routerLink="/usercompetence/index" class="btn btn-primary">Retour Vers Liste</a><br><br><hr>
   
    <div>
        <strong>ID:</strong>
        <p>{{ competence._id }}</p>
    </div>
   
    <div>
        <strong>nom:</strong>
        <p>{{ competence.nom }}</p>
    </div>
   
    <div>
        <strong>description:</strong>
        <p>{{ competence.description }}</p>
    </div>
   
</div>





  
  
  
  
  
  
  
              
  
  
            </div>
          </div>
        </div>
  
  
      </div>
    </section>
  </div>

  



  
















<app-userfooter></app-userfooter>