


<app-companyheader></app-companyheader>
<app-companymenu></app-companymenu>





<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
  
  
    
              <div class="container">
                <h1>Détails Profil</h1>
              
                <a href="#" routerLink="/companyprofil/index" class="btn btn-primary">Retour Vers Liste</a><br><br><hr>
               
                <div>
                    <strong>ID:</strong>
                    <p>{{ profil._id }}</p>
                </div>
               
                <div>
                    <strong>nom:</strong>
                    <p>{{ profil.nom }}</p>
                </div>
               
                <div>
                    <strong>prenom:</strong>
                    <p>{{ profil.prenom }}</p>
                </div>
               
            </div>
            
            
  
  
  
  
  
  
  
  
  
              
  
  
            </div>
          </div>
        </div>
  
  
      </div>
    </section>
  </div>

  



  











<app-companyfooter></app-companyfooter>