


<app-userheader></app-userheader>
<app-usermenu></app-usermenu>



<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
  
  
  
  

              <div class="container">
                <h1>Détails message</h1>
              
                <br><a href="message/index" routerLink="/message/index" class="btn btn-primary">Retour Vers Liste</a><br><br><hr><br>
               
                <div>
                    <strong>ID:</strong>
                    <p>{{ message._id }}</p>
                </div>
               
                <div>
                    <strong>email:</strong>
                    <p>{{ message.nomenvoi }}</p>
                </div>
               
                <div>
                    <strong>email:</strong>
                    <p>{{ message.texte }}</p>
                </div>
               
            </div>
            




  
  
  
  
  
  
  
              
  
  
            </div>
          </div>
        </div>
  
  
      </div>
    </section>
  </div>

  



  














<app-userfooter></app-userfooter>