
<div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="companyadmin/index"> <img alt="image" src="assets/img/logo.png" class="header-logo" /> <span
                class="logo-name">Otika</span>
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown">
              <a href="companyadmin/index" class="nav-link"><i class="glyphicon glyphicon-th"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
              <a href="companyadmin/index" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Admins</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="companyadmin/index">Liste admins</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Affectation groupes</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="companyaffgroupe/index">Affectation groupes</a></li>
                <li><a class="nav-link" href="companyaffgroupe/create">create Affectation groupes</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="companyaffprojet/index" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Affectation projets</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="companyaffprojet/index">Affectation projets</a></li>
              </ul>
            </li>


            <li class="dropdown">
              <a href="companyafftache/index" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Affectation taches</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="companyafftache/index">Affectation taches</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="companyavtache/index" class="menu-toggle nav-link has-dropdown"><i data-feather="layout"></i><span>Avancement Taches</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="companyavtache/index">Avancement taches</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="companyavprojet/index" class="menu-toggle nav-link has-dropdown"><i
                class="glyphicon glyphicon-th"></i><span>Avancement projet</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="companyavprojet/index">Avancement projet</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="companycompetence/index" class="menu-toggle nav-link has-dropdown"><i data-feather="layout"></i><span>Competences</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="companycompetence/index">Competences</a></li>
              </ul>
            </li>
            <li class="dropdown active">
              <a href="companytache/index" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Taches</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="companytache/index">Taches</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="companyuser/index" class="menu-toggle nav-link has-dropdown"><i
                class="glyphicon glyphicon-th"></i><span>Dévéloppeurs</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="companyuser/index">Dévéloppeurs</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="companyuniversite/index" class="glyphicon glyphicon-th"><i data-feather="feather"></i><span>Universite</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="companyuniversite/index">Universite</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="companyprofil/index" class="glyphicon glyphicon-th"><i data-feather="image"></i><span>Profil</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="companyprofil/index">Profil</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="companycompany/index" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Company</span></a>
              <ul class="dropdown-menu">
                <li><a href="companycompany/index">Company</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/" class="menu-toggle nav-link has-dropdown"><i class="glyphicon glyphicon-th"></i><span>Logout</span></a>
              <ul class="dropdown-menu">
                <li><a href="companylogin">Logout</a></li>
              </ul>
            </li>




          </ul>
        </aside>
      </div>
      <!-- Main Content -->


    </div>
  </div>
