





<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>

<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
  
  
  
  
  
  



<div class="container">
    <h1>Update Affgroupe</h1>
   
    <a href="#" routerLink="/affgroupe/index" class="btn btn-primary">Retour Vers Liste</a><br><br><hr>
          
    <form [formGroup]="form" (ngSubmit)="submit()">
    



<div class="container">
  <div class="row">
    <div class="col-sm">
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input 
                formControlName="nom"
                id="nom" 
                type="text" 
                [(ngModel)]="affgroupe.nom"
                class="form-control">
            <div *ngIf="f['nom'].touched && f['nom'].invalid" class="alert alert-danger">
                <div *ngIf="f['nom'].errors && f['nom'].errors['required']">Nom is required.</div>
            </div>
        </div>    
    </div>
    <div class="col-sm">
          <div class="form-group">
            <label for="datecreation">datecreation:</label>
            <input 
                formControlName="datecreation"
                id="datecreation" 
                type="date" 
                class="form-control">
            <div *ngIf="f['datecreation'].touched && f['datecreation'].invalid" class="alert alert-danger">
                <div *ngIf="f['datecreation'].errors && f['datecreation'].errors['required']">datecreation is required.</div>
            </div>
        </div>    
    </div>
    <div class="col-sm">
          <div class="form-group">
            <label for="datemodification">datemodification:</label>
            <input 
                formControlName="datemodification"
                id="datemodification" 
                type="date" 
                class="form-control">
            <div *ngIf="f['datemodification'].touched && f['datemodification'].invalid" class="alert alert-danger">
                <div *ngIf="f['datemodification'].errors && f['datemodification'].errors['required']">datemodification is required.</div>
            </div>
        </div>    
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>






           


         
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Mettre A Jour</button><br><br><hr>
    </form>
</div>



  
  
  
  
  
  
              
  
  
            </div>
          </div>
        </div>
  
  
      </div>
    </section>
  </div>

  



  




<app-adminfooter></app-adminfooter>
