


<app-userheader></app-userheader>
<app-usermenu></app-usermenu>




<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
  
  
  
  <div class="container">
    <h1>Détails Admin</h1>
  
    <br><a href="#" routerLink="/useradmin/index" class="btn btn-primary">Retour Vers Liste</a><br><br><hr><br>
   
    <div>
        <strong>ID:</strong>
        <p>{{ admin._id }}</p>
    </div>
   
    <div>
        <strong>email:</strong>
        <p>{{ admin.email }}</p>
    </div>
   
    <div>
        <strong>email:</strong>
        <p>{{ admin.email }}</p>
    </div>
   
</div>



  
  
  
  
  
  
  
  
              
  
  
            </div>
          </div>
        </div>
  
  
      </div>
    </section>
  </div>

  



  






















<app-userfooter></app-userfooter>