





<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>

<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
  
  
  
  

<div class="container">
    <br><h1>Create New Data:</h1>
  
    <br><br><a href="#" routerLink="/post/index" class="btn btn-warning">Retour Vers Liste</a><br><br>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  



<div class="container">
  <div class="row">
    <div class="col-sm">
             <div class="form-group">
            <label for="nom">nom:</label>
            <input 
                formControlName="nom"
                id="nom" 
                type="text" 
                class="form-control">
            <div *ngIf="f['nom'].touched && f['nom'].invalid" class="alert alert-danger">
                <div *ngIf="f['nom'].errors && f['nom'].errors['required']">nom is required.</div>
            </div>
        </div> 
    </div>
    <div class="col-sm">
          <div class="form-group">
            <label for="prenom">prenom:</label>
            <input 
                formControlName="prenom"
                id="prenom" 
                type="text" 
                class="form-control">
            <div *ngIf="f['prenom'].touched && f['prenom'].invalid" class="alert alert-danger">
                <div *ngIf="f['prenom'].errors && f['prenom'].errors['required']">prenom is required.</div>
            </div>
        </div>    
    </div>
    <div class="col-sm">
           <div class="form-group">
            <label for="description">description:</label>
            <input 
                formControlName="description"
                id="description" 
                type="text" 
                class="form-control">
            <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
                <div *ngIf="f['description'].errors && f['description'].errors['required']">description is required.</div>
            </div>
        </div>   
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
          <div class="form-group">
            <label for="adresse">adresse:</label>
            <input 
                formControlName="adresse"
                id="adresse" 
                type="text" 
                class="form-control">
            <div *ngIf="f['adresse'].touched && f['adresse'].invalid" class="alert alert-danger">
                <div *ngIf="f['adresse'].errors && f['adresse'].errors['required']">adresse is required.</div>
            </div>
        </div>    
    </div>
    <div class="col-sm">
            <div class="form-group">
            <label for="tel">tel:</label>
            <input 
                formControlName="tel"
                id="tel" 
                type="text" 
                class="form-control">
            <div *ngIf="f['tel'].touched && f['tel'].invalid" class="alert alert-danger">
                <div *ngIf="f['tel'].errors && f['tel'].errors['required']">tel is required.</div>
            </div>
        </div>  
    </div>
    <div class="col-sm">
        <div class="form-group">
            <label for="email">email:</label>
            <input 
                formControlName="email"
                id="email" 
                type="text" 
                class="form-control">
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">email is required.</div>
            </div>
        </div>      
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
           <div class="form-group">
            <label for="siteweb">siteweb:</label>
            <input 
                formControlName="siteweb"
                id="siteweb" 
                type="text" 
                class="form-control">
            <div *ngIf="f['siteweb'].touched && f['siteweb'].invalid" class="alert alert-danger">
                <div *ngIf="f['siteweb'].errors && f['siteweb'].errors['required']">siteweb is required.</div>
            </div>
        </div>   
    </div>
    <div class="col-sm">
              <div class="form-group">
            <label for="datecreation">datecreation:</label>
            <input 
                formControlName="datecreation"
                id="datecreation" 
                type="date" 
                class="form-control">
            <div *ngIf="f['datecreation'].touched && f['datecreation'].invalid" class="alert alert-danger">
                <div *ngIf="f['datecreation'].errors && f['datecreation'].errors['required']">datecreation is required.</div>
            </div>
        </div>
    </div>
    <div class="col-sm">
              <div class="form-group">
            <label for="datemodification">datemodification:</label>
            <input 
                formControlName="datemodification"
                id="datemodification" 
                type="date" 
                class="form-control">
            <div *ngIf="f['datemodification'].touched && f['datemodification'].invalid" class="alert alert-danger">
                <div *ngIf="f['datemodification'].errors && f['datemodification'].errors['required']">datemodification is required.</div>
            </div>
        </div>
    </div>
  </div>
</div>












  


  
        <br><br><hr><button class="btn btn-primary" type="submit" [disabled]="!form.valid">Valider Opération</button><br><br><hr>
    </form>
</div>





  
  
  
  
  
  
  
  
              
  
  
            </div>
          </div>
        </div>
  
  
      </div>
    </section>
  </div>

  



  




<app-adminfooter></app-adminfooter>
