


<app-userheader></app-userheader>
<app-usermenu></app-usermenu>


<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
  
  
  
  <div class="container">
    <h1>Détails User</h1>
  
    <a href="#" routerLink="/useruser/index" class="btn btn-primary">Retour Vers Liste</a><br><br><hr>
   
    <div>
        <strong>ID:</strong>
        <p>{{ user._id }}</p>
    </div>
   
    <div>
        <strong>email:</strong>
        <p>{{ user.email }}</p>
    </div>
   
    <div>
        <strong>email:</strong>
        <p>{{ user.email }}</p>
    </div>
   
</div>


  
  
  
  
  
  
  
  
              
  
  
            </div>
          </div>
        </div>
  
  
      </div>
    </section>
  </div>

  





<app-userfooter></app-userfooter>