


<app-companyheader></app-companyheader>
<app-companymenu></app-companymenu>




<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
  
  
  
              <div class="container">
                <br><br><h1 class="btn btn-info">UPWORK TUNISIE PFE UIT 2024</h1><br><br>
                <a href="#" routerLink="/companyprojet/create/" class="btn btn-success">Create New Projet</a>
                  
                <table class="table table-striped table-bordered">
                    <thead>
                          <tr>
                            <th>ID</th>
                            <th>nom</th>
                            <th>description</th>
                            <th>Action</th>
                          </tr>
                    </thead>
                    <tbody>
                          <tr *ngFor="let projet of projets">
                            <td>{{ projet._id }}</td>
                            <td>{{ projet.nom }}</td>
                            <td>{{ projet.description }}</td>
                            <td>
                              <a href="#" [routerLink]="['/companyprojet/', projet._id, 'view']" class="btn btn-info">Détails</a>&nbsp;&nbsp;
                              <a href="#" [routerLink]="['/companyprojet/', projet._id, 'edit']" class="btn btn-primary">Modifier</a>&nbsp;&nbsp;
                              <button type="button" (click)="deleteProjet(projet._id)" class="btn btn-danger">Supprimer Data</button>
                            </td>
                          </tr>
                    </tbody>
                </table>





              <div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">&raquo;</a>
</div>







            </div>
              
              
  
  
  
  
  
  
  
  
              
  
  
            </div>
          </div>
        </div>
  
  
      </div>
    </section>
  </div>

  



  












<app-companyfooter></app-companyfooter>